body {
    margin: 0;
    padding: 0;
}

/* banner area start */
.banner-container {
    Height: 520px;
    margin: 50px 120px;
    padding: 50px 150px 0px 50px;
    border-radius: 30px;
    background-color: #161616;
    color: white;
    justify-content: center;
    display: flex;
}


.watch-button {
    width: 175px;
    height: 50px;
    border-radius: 5px;
    background-color: #DD0000;
    color: white;
    font-size: 18px;
    border: none;
}

.banner-text p {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Poppins';

}

.banner-text h1 {
    font-size: 60px;
    font-family: 'Poppins';
    line-height: 70px;

}

/* banner area end */
/* blog post are */
.blog-container {
    display: flex;
    margin: 100px 120px;
}


/*menu fixed */
.menu-fixed {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.menu-fixed a {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

#menu-blog {
    background-color: red;
    color: white;
}