body {
    margin: 0;
    padding: 0;
}

/* banner area start */
.banner-container {
    Height: 520px;
    margin: 50px 120px;
    padding: 50px 150px 0px 50px;
    border-radius: 30px;
    background-color: #161616;
    color: white;
    justify-content: center;
    display: flex;
}


.watch-button {
    width: 175px;
    height: 50px;
    border-radius: 5px;
    background-color: #DD0000;
    color: white;
    font-size: 18px;
    border: none;
}

.banner-text p {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Poppins';

}

.banner-text h1 {
    font-size: 60px;
    font-family: 'Poppins';
    line-height: 70px;

}

.half-width {
    width: 50%;
}

/* banner area end */


/* blog post area */
.blog-container {
    display: flex;
    margin: 100px 120px;
}


/*menu fixed */
.menu-fixed {
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}

.menu-fixed a {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    color: black;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}



.blog-post {
    margin-left: 10px;

}

.post {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.post-text {
    margin: 20px;
}

.post img {
    width: 100%;
}

.blog-post {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}


.post-button {
    width: 100px;
    height: 32px;
    font-family: 'Poppins';
    background-color: white;
    border: 1px solid #161616;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;

}

.post h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;

}

#view-all-btn {
    display: none;
}

/* footer*/
.footer {
    color: white;
    /* height: 200px; */
    background-color: #161616;
    text-align: center;
    padding: 5% 10% 5px 10%;
}

.footer h1 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 500;

}

.footer-item a {
    color: #FFFFFF;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 25px;
    text-decoration: none;
    padding: 0 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
}

/* footer social */
.social-icon a {
    font-size: 20px;
    padding: 20px 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;


}

/*upcoming*/
.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.match-flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.vs {
    font-size: 25px;
}

#upcoming-menu {
    background-color: red;
    color: white;
}

/* tablet view responsive start */
@media screen and (min-width: 577px) and (max-width:920px) {
    .banner-container {
        height: 70vh;
        margin: 20px;
        padding: 40px;
        padding-bottom: 0;
        border-radius: 15px;
    }

    .blog-container {
        margin: 20px;
        flex-direction: column;
    }

    .blog-post {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
    }


    #last-post {
        display: none;
    }

    /* button only for tab view */
    .view-all {
        display: flex;
        justify-content: center;
    }

    .view-all-btn {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: #DD0000;
        color: white;
        font-size: 20px;
        font-weight: bold;

    }

    .menu-fixed {
        flex-direction: row;
        width: auto;
        height: 70px;
        background-color: white;
    }

    .menu-fixed a {
        background-color: #E8E8E8;
    }

    .fixed {
        width: 25%;
    }

}


/* mobile view responsive start */
@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column;
        margin: 20px;
        border-radius: 15px;
        background-color: #161616;
        justify-content: space-between;
        padding: 25px 15px 0 15px;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 25px;
        font-family: 'Poppins';
        line-height: 20px;

    }

    .half-width {
        height: 50%;
        width: 90%;
    }

    .blog-container {
        margin: 20px;
        flex-direction: column;
    }

    .blog-post {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
    }



    .menu-fixed {
        background-color: white;
        width: auto;
        margin-bottom: 20px;
    }

    .menu-fixed a {
        background-color: #E8E8E8;
    }
}


/* upcoming mobile view responsive start */
@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column;
        margin: 20px;
        border-radius: 15px;
        background-color: #161616;
        justify-content: space-between;
        padding: 25px 15px 0 15px;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 25px;
        font-family: 'Poppins';
        line-height: 20px;

    }

    .half-width {
        height: 50%;
        width: 90%;
    }

    .blog-container {
        margin: 20px;
        flex-direction: column;
    }

    .blog-post {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
    }



    .menu-fixed {
        background-color: white;
        width: auto;
        margin-bottom: 20px;
    }

    .menu-fixed a {
        background-color: #E8E8E8;
    }
}

/*upcoming tablet view responsive start */
@media screen and (min-width: 577px) and (max-width:920px) {
    .banner-container {
        height: 70vh;
        margin: 20px;
        padding: 40px;
        padding-bottom: 0;
        border-radius: 15px;
    }

    .blog-container {
        margin: 20px;
        flex-direction: column;
    }

    .blog-post {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px;
    }


    #last-post {
        display: none;
    }

    /* button only for tab view */
    .view-all {
        display: flex;
        justify-content: center;
    }

    .view-all-btn {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: #DD0000;
        color: white;
        font-size: 20px;
        font-weight: bold;

    }

    .menu-fixed {
        flex-direction: row;
        width: auto;
        height: 70px;
        background-color: white;
    }

    .menu-fixed a {
        background-color: #E8E8E8;
    }

    .fixed {
        width: 25%;
    }

}